***NB!*** New room for the TA session on 19/9 (WED) 2pm--3:45pm: 
### Room <font color='red'>A1-030</font>

# Problem Set 3: Lists, Dictionaries and Tuples

### Exercise 1
Generate a list contains numbers, strings, and nested list.

In [ ]:
a = [[1, 2, 3],["a","b","c",],["d","e"],["f","g","h"]]
a

### Exercise 2
Add an extra element in the end of the list in Exercise 1.

In [ ]:
a.append([3, 4, 5])
a

### Exercise 3
Square numbers in range(0,11) and turn it into a list.

In [ ]:
a = []
for i in range(0, 11):
    a.append(i**2)
print(a)

In [ ]:
[x**2 for x in range(0, 11)]

### Exercise 4
List of all numbers between 1 and 50 that are divisible by 3.

In [ ]:
a = []

for i in range(0, 51):
    if(i%3==0):
        a.append(i)
print(a)

In [ ]:
[x for x in range(1, 51) if x%3==0]

### Exercise 5
1. Create an empty tuple.
2. Create a tuple with different data types.
3. Write a program to convert a list to a tuple.
4. Write a program to replace last value of a tuple.

    Sample tuple: (70, 80, 90)
    
    Expected Output: (70, 80, 100)

In [ ]:
#1.Create an empty tuple.
a = ((),)
type(a)

In [ ]:
#2. Create a tuple with different data types
b = ((1, 'b', 3.0),)
b

In [ ]:
#3. Convert list to tuple
a = [[1, 2, 3], ['a', 'b', 'c']]
b = tuple(a)
b

In [ ]:
#4. Write a program to replace last value of a tuple
t1 = (70, 80, 90)
t1[:2]+(100,)

### Exercise 6

Write a program which repeatedly reads numbers until the user enters “done”. Once “done” is entered, print out a list of all the numbers, and the maximum and minimum of the numbers. (Hint: You may use the max() and min() functions to compute the maximum and minimum values after the loop completes.) You may get something as follow:


    Enter a number: 6
    Enter a number: 2
    Enter a number: 9
    Enter a number: 3
    Enter a number: 5
    Enter a number: done
    [6.0, 2.0, 9.0, 3.0, 5.0]
    Maximum: 9.0
    Minimum: 2.0

In [ ]:
list1 = []
while True:
        inp = input('Enter a number: ')
        if inp == 'done':
            
            print(list1)   
            print('High: ' +str(high), "low: " + str(low))
            break
        else:
            inp= float(inp)
            list1.append(inp)
            high = max(list1)
            low = min(list1)

### Exercise 7

Generate a list using the following code: 

    np.random.seed(123)
    s = list(np.random.randn(10))

Write a list comprehension that will extract the negative elements to the list `s`.

In [ ]:
np.random.seed(123)
s = list(np.random.randn(10))
s

In [ ]:
[x for x in s if x <= 0 ]

### Exercise 8


1. Write a txt file with lines of string. The first line of the file contains the count of the number of students in the file, and each subsequent line contains a student’s last name followed by a score in the range 0 to 100. For example

        count        4
        Computewell  90
        Dibblebit    60
        Jones        70
        Smith        66

    Then save it as the file `student_exam.txt`.
    
2. Read the lines from `student_exam.txt`. Generate two variables `name` and `score` which contain names and scores for all the students. 

3. Draw a horizontal bar chart for each student where the length of the bar represents the student’s score. An example of the bar chart is shown below.
<img src="graphs/hist2.png">

In [ ]:
from matplotlib import pyplot as plt
%matplotlib inline

In [ ]:
x = []
y = []
with open(r"student_exam.txt", "r+") as f:
    data = f.readlines()
    for line in data[1:]:
        x.append(line.strip().split(",")[0])
        y.append(int(line.strip().split(",")[1]))
x, y

In [ ]:
import matplotlib.pyplot as plt

plt.barh(x, y, color= 'r')
plt.gca().invert_yaxis()
plt.title('Exam Score')
plt.xlabel('Score (%)')
plt.ylabel('Last Name')

### Exercise 9


1. Write a txt file with 100 lines of string. Each line of the file contains a random integer in the range 0–10. For example

        5
        3
        7
        2
        6
        3
        9
        ...

    Then save it as the file `quiz_score.txt`. (Hint: You may generate a random integer between 0 and 10 using `np.random.randint(0, 11)`).
    
2. Read data from the file. Your program should count the number of occurrences of each score. (Hint: use a dictionary that stores the count for each possible score.)

3. Draw a vertical bar chart with a bar for each possible score (0–10) with a height corresponding to the count of that score. For example, 2 students got a score of 3.  An example of the bar chart is shown below.

<img src="graphs/hist.png">

In [ ]:
import numpy as np
file, f = open("quiz_score.txt", "w"), open("quiz_score.txt", "r")
score = []
for i in range(100):
    i = str(np.random.randint(0, 11))
    file.write(i + "\n")
    
list1 = f.readlines()
f.close()
for i in list1:
    score.append(i.strip())
score

In [ ]:
from collections import Counter
d = Counter(score)
int_score= {int(k) : v for k, v in d.items()}
x = sorted(int_score.items())
x

In [ ]:
import matplotlib.pyplot as plt
plt.bar(int_score.keys(), int_score.values(), color = 'g')
plt.title('Bargraph for Score/Student')
plt.xlabel('Score')
plt.ylabel('Nr of occurences')
plt.show()

# Optional

## Exercise 10

In the lecture, you load the file `mbox-short.txt` and extract the day of the week from the lines starting with "From". 

Now extract the email address (always after "From") from the lines starting with "From". You should get something like this: 

    stephen.marquard@uct.ac.za
    louis@media.berkeley.edu
    zqian@umich.edu
    rjlowe@iupui.edu
    zqian@umich.edu
    rjlowe@iupui.edu
    cwen@iupui.edu
    cwen@iupui.edu
    ...

In [7]:
import re

# Open the file for reading
with open('./Data/mbox-short.txt') as file:

    # Iterate over the lines
    for line in file:

        # Capture one-or-more characters of non-whitespace after the initial match
        match = re.search(r'From (\S+)', line)
        match
        # Did we find a match?
        if match:
          # Yes, process it
            emails = match.group(1)
            print('{}'.format(emails))

stephen.marquard@uct.ac.za
louis@media.berkeley.edu
zqian@umich.edu
rjlowe@iupui.edu
zqian@umich.edu
rjlowe@iupui.edu
cwen@iupui.edu
cwen@iupui.edu
gsilver@umich.edu
gsilver@umich.edu
zqian@umich.edu
gsilver@umich.edu
wagnermr@iupui.edu
zqian@umich.edu
antranig@caret.cam.ac.uk
gopal.ramasammycook@gmail.com
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
david.horwitz@uct.ac.za
stephen.marquard@uct.ac.za
louis@media.berkeley.edu
louis@media.berkeley.edu
ray@media.berkeley.edu
cwen@iupui.edu
cwen@iupui.edu
cwen@iupui.edu

In [10]:
import re

# Open the file for reading
with open('./Data/mbox-short.txt') as fd:

    # Iterate over the lines
    for line in fd:

        # Capture one-or-more characters of non-whitespace after the initial match
        match = re.search(r'From (\S+)', line)
        if match:
          # Yes, process it
            emails = match.group(1)
            emails

## Exercise 11
Generate a string `s` , such that:

    s = 'asdefdflklkaaapkplla'

Count how many times each character apears using dictionary. You may use the method `.get()` in the loop.

In [11]:
from collections import Counter
s = 'asdefdflklkaaapkplla'

d = Counter(s)
x = sorted(d.items())
x

[('a', 5),
 ('d', 2),
 ('e', 1),
 ('f', 2),
 ('k', 3),
 ('l', 4),
 ('p', 2),
 ('s', 1)]

In [12]:
l = {}
for i in s:
    if i in l:
        l[i] += 1
    else:
        l[i] = 1
print(l)

{'a': 5, 's': 1, 'd': 2, 'e': 1, 'f': 2, 'l': 4, 'k': 3, 'p': 2}

In [13]:
l = {}
for i in s:
    l[i] = l.get(i, 0) + 1
print(l)

{'a': 5, 's': 1, 'd': 2, 'e': 1, 'f': 2, 'l': 4, 'k': 3, 'p': 2}